@import url(../../assets/styles/style.css);
@import url(../../assets/styles/footer.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/modals.css);

.hero-block {
    padding: calc(19 * var(--fz)) 0 calc(30 * var(--fz));
}
.hero-block-inner {
    padding: calc(30 * var(--fz));
    border-radius: 20px;
    background: transparent;
}
.element-show .hero-block-inner {
    transition: .5s ease 1s;
    background: var(--soft-gray, #F3F4F5);
}
.hero-block-inner h1 {
    font-size: calc(40 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 44px */
    letter-spacing: -1.32px;
    color: var(--black);
    margin-bottom: 15px;
}
.hero-block-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-block-col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about {
    width: 100%;
    padding: calc(20 * var(--fz)) 0 calc((120 * var(--fz)));
}
.about-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-col-inner {
    border-radius: 20px;
    background: var(--black-3, #212121);
    padding: calc(30 * var(--fz));
    color: #fff;
}
.element-show .about-col-inner {
    transition: .5s ease .5s;
    background: var(--black-3, #212121);
}
.about-col-inner h2 {
    font-size: calc(32 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    margin-bottom: 10px;
}
.about-col-inner ul {
    display: flex;
    flex-direction: column;
    gap: 10px ;
    margin-bottom: 30px;
}
.about-col-inner ul li {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    display: flex;
    align-items: center;
}
.about-col-inner ul li::before {
    content: '';
    width: 5px ;
    height: 5px;
    border-radius: 100%;
    background-color: var(--carrot);
    margin-right: 20px;
}
.sertificate {
    border-radius: 20px;
    background: #303030;
    padding: calc(30 * var(--fz));
    display: flex;
    align-items: center;
    gap: 20px;
}
.sertificate-img {
    position: relative;
}
.sertificate-img img {
    width: calc(78 * var(--fz));
    height: calc(112 * var(--fz));
}
.sertificate-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(52 * var(--fz));
    height: calc(52 * var(--fz));
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--carrot);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.sertificate-btn svg {
    width: calc(14 * var(--fz));
    height: calc(14 * var(--fz));
}
.sertificate h3 {
    font-size: calc(20 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 24.2px */
    letter-spacing: -0.66px;
}
.about-col-row:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: calc(30 * var(--fz));
    border-radius: 20px;
    background: transparent;
}
.element-show .about-col-row:first-child {
    transition: .5s ease .5s;
    background: #F8F8F8;
}
.about-col-row:first-child h3 , .about-col-row:last-child h3 {
    font-size: calc(22 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 24.2px */
    letter-spacing: -0.66px;
}
.about-col-row-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.about-col-row-list span {
    border-radius: 1000px;
    background: #FFF;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    display: flex;
    margin: 0 auto 0 0;
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    color: var(--black);
}
.about-col-row-list span::before {
    content: '';
    width: 5px ;
    height: 5px;
    border-radius: 100%;
    background-color: var(--carrot);
}
.about-col-row p {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.48px;
}
.about-col-row:last-child {
    padding: calc(30 * var(--fz));
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
}
.element-show .about-col-row:last-child  {
    transition: .5s ease .5s;
    background-color: var(--carrot);
}
.about-col-row:last-child p {
    margin: 10px 0;
}
.white-btn {
    border-radius: 1000px;
    border: 2px solid  #F0F2F5;
    background:  #F0F2F5;
    padding: calc(12 * var(--fz)) calc(35 * var(--fz));
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    color: var(--black);
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.white-btn:hover {
    /* background: var(--black-3, #212121); */
    color: #fff;
    transition: all .1s ease .2s;
    background-color: var(--black-3, #212121);
    border: 2px solid  var(--black-3, #212121);
}
.white-btn  .btn-text:before {
    animation: c .6s ease 1;
    color: var(--black-2, #303030);
}

.white-btn  .btn-text:after {
    color: #fff;
    animation: d .6s ease 1;
    opacity: 0
}
.white-btn  .btn-fill {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 150%;
    top: 120%;
    left: -50%;
    z-index: -1;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    background: var(--black-3, #212121);
    border: 2px solid  var(--black-3, #212121);
}
.services {
    padding: calc(120 * var(--fz)) 0;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    color: #fff
}

.element-show .dark-form-inner {
    transition: .5s ease .5s;
    background-color:  #303030;
}

.element-show.services {
    transition: .3s ease;
    background-color: var(--black-3);
}
.services h2 {
    font-size: calc(32 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    margin-bottom: 30px;
}
.service-accordeon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.serv-acc-item {
    padding: calc(30 * var(--fz));
    border-radius: 20px;
    background: #303030;
    display: flex;
    gap: 18px ;
}
.serv-acc-item .label p {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    display: flex;
    gap: 3px;
}
.serv-acc-item .item-num {
    color: #A7A8A9;
    font-family: Gilroy;
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.serv-acc-item .item-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.serv-acc-item .box.active .label p::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cline x1='10.7714' y1='6.22855' x2='5.39645' y2='0.853554' stroke='%23F3F4F5'/%3E%3Cline x1='6.10355' y1='0.853553' x2='0.728554' y2='6.22855' stroke='%23F3F4F5'/%3E%3C/svg%3E");
    display: block;
    width: 11px;
    height: 7px;
}
.serv-acc-item .box .label p::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cline x1='1.22855' y1='1.77145' x2='6.60355' y2='7.14645' stroke='%23F3F4F5'/%3E%3Cline x1='5.89645' y1='7.14645' x2='11.2714' y2='1.77145' stroke='%23F3F4F5'/%3E%3C/svg%3E");
    display: block;
    width: 11px;
    height: 7px;
}
.serv-acc-item  .box {
    cursor: pointer;
}
.serv-acc-item  .box .acc-content {
    position: relative;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: 0.4s;
}
.serv-acc-item .box .acc-content p {
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    padding-top: 20px;
}
.serv-acc-item .box.active .acc-content {
    overflow: auto;
    height: auto;
    opacity: 1;
}
.acc-price {
    font-size: calc(32 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    color: var(--carrot);
}
.acc-price span {
    font-family: Gilroy;
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    color: var(--carrot);
}
.dark-form-inner .form-wrap .input-wrap:last-child .carrot-btn  {
    margin: 5px 0 0;
}
.carrot-btn {
    /* display: block; */
    margin: 30px 0 0;
}
.dark-form-inner {
    background: #303030;
    margin-top: 103px;
}
.repair-brands.element-show {
    background-color: white;
    margin-bottom: 0;
}

.repair-brands-inner {
    background-color: var(--soft-gray);
    padding: calc(30 * var(--fz));
    border-radius: 20px;
}
.repair-brands-card {
    font-size: calc(16 * var(--fz));
}
/* .element-animation.repair-brands {
    background-color: transparent;
} */
.repair-brands-card {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.6px;
    border-radius: 1000px;
    padding: calc(30 * var(--fz));
    max-width: 100%;
    display: flex;
    align-items: center;
}
.repair-brands-cards-mob .carrot-btn {
    margin: 30px auto 0;
}
.repair-brands-cards-mob, .show-more-body {
    gap: 10px;
}
.repair-brands-cards-mob .carrot-btn {
    padding: 12px 35px;
}
.submit-wrap .carrot-btn {
    margin-top: 0;
}



@media (min-width:992px) {

    .repair-brands-card p {
        text-overflow: ellipsis;
        overflow-x: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .repair-brands-card p::-webkit-scrollbar { width: 0; height: 0;}
    .repair-brands-card:hover {
        border: 1px solid #fff;
    }
    .repair-brands-card:hover  p{
        overflow-x: auto;
        text-overflow: none;
        display: block;

    }
    .hero-block {
        padding: calc(50 * var(--fz)) 0 calc(60 * var(--fz));
    }
    .hero-block-inner {
        padding: calc(60 * var(--fz));
    }
    .hero-block-inner h1 {
        font-size: calc(50 * var(--fz));
        margin-bottom: 30px;
        max-width: 75%;
    }
    /* .hero-block-col {
        max-width: 70%;
        width: 100%;
    }
    .hero-block-col:last-child {
        max-width: 30%;
        width: 100%;
    } */
    .hero-block-col img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /* .hero-block-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;
    } */
    .about-inner {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .about-col {
        max-width: calc((100% - 16px)/2);
        width: 100%;
    }
    .about-col-inner h2 {
        font-size: calc(42 * var(--fz));
        margin-bottom: 20px;
    }
    .about-col-inner {
        padding: calc(45 * var(--fz));
    }
    .about-col-inner ul li {
        font-size: calc(26 * var(--fz));
    }
    .sertificate-btn  {
        opacity: 0;
    }
    .sertificate-img {
        cursor: pointer;
    }
    .sertificate-img:hover .sertificate-btn {
        opacity: 1;
    }
    .sertificate {
        padding: calc(45 * var(--fz));
        justify-content: space-between;
    }
    .sertificate-img img {
        width: calc(108 * var(--fz));
        height: calc(152 * var(--fz));
    }
    .sertificate-btn {
        width: calc(72 * var(--fz));
        height: calc(72 * var(--fz));
    }
    .sertificate-btn svg {
        width: calc(18 * var(--fz));
        height: calc(18 * var(--fz));
    }
    .sertificate h3 {
        font-size: calc(32 * var(--fz));
    }
    .about-col-row:first-child {
        gap: 20px;
        padding: calc(45 * var(--fz));
    }
    .about-col-row:first-child h3 , .about-col-row:last-child h3  {
        font-size: calc(32 * var(--fz));
    }
    .about-col-row-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .about-col-row-list span {
        padding: 15px 30px;
        gap: 10px;
        margin: 0;
        font-size: calc(20 * var(--fz));
    }
    .about-col-row p {
        font-size: calc(26 * var(--fz));
    }
    .about-col-row:last-child {
        padding: calc(45 * var(--fz));

    }
    .about-col-row:last-child p {
        margin: 20px 0 30px;
    }
    .white-btn {
        padding: calc(12 * var(--fz)) calc(45 * var(--fz));
        font-size: calc(26 * var(--fz));
    }
    .services h2 {
        font-size: calc(55 * var(--fz));
        margin-bottom: 60px;
    }
    .service-accordeon {
        gap: 15px;
    }
    .serv-acc-item {
        padding: calc(45 * var(--fz));
        gap: 20px ;
    }
    .serv-acc-item .label p {
        font-size: calc(26 * var(--fz));
    }
    .serv-acc-item .item-num {
        flex-shrink: 0;
        font-size: calc(20 * var(--fz));
        margin-top: 5px;
    }
    .serv-acc-item .item-content {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .serv-acc-item .box .acc-content p {
        font-size: calc(20 * var(--fz));
        padding-top: 37px;
        max-width: 50%;
    }
    .acc-price {
        font-size: calc(42 * var(--fz));
    }
    .carrot-btn {
        margin: 50px 0 0 auto;
    }
    .dark-form-inner {
        margin-top: 150px;
    }
    .repair-brands-card {
        max-width: 24%;
    }
    .repair-brands-card {
        font-size: calc(20 * var(--fz));
        padding: calc(30 * var(--fz)) calc(60 * var(--fz));
    }
    .dark-form-inner .form-wrap .input-wrap:last-child .carrot-btn {
        margin: 0;
        max-width: 228px;
        width: 100%;
    }

}

@media (min-width:1200px) {
    .repair-brands h3 {
        max-width: 100%;
    }
    .hero-block-inner h1 {
        font-size: calc(70 * var(--fz));
    }
    .about-col-inner h2 {
        font-size: calc(56 * var(--fz));
        margin-bottom: 20px;
    }
    .about-col-inner {
        padding: calc(60 * var(--fz));
    }
    .sertificate {
        padding: calc(60 * var(--fz));
    }
    .sertificate-img img {
        width: calc(136 * var(--fz));
        height: calc(194 * var(--fz));
    }
    .sertificate-btn {
        width: calc(89 * var(--fz));
        height: calc(89 * var(--fz));
    }
    .sertificate-btn svg {
        width: calc(24 * var(--fz));
        height: calc(24 * var(--fz));
    }
    .sertificate h3 {
        font-size: calc(42 * var(--fz));
    }
    .about-col-row:first-child {
        padding: calc(60 * var(--fz));
    }
    .about-col-row:first-child h3 , .about-col-row:last-child h3  {
        font-size: calc(42 * var(--fz));
    }
    .about-col-row:last-child {
        padding: calc(60 * var(--fz));

    }
    .white-btn {
        padding: calc(12 * var(--fz)) calc(60 * var(--fz));

    }
    .services h2 {
        font-size: calc(70 * var(--fz));
        margin-bottom: 80px;
    }
    .serv-acc-item {
        padding: calc(60 * var(--fz));
        gap: 30px ;
    }
    .repair-brands {
        padding: calc(120 * var(--fz)) 0;
        margin: calc(250 * var(--fz)) 0;
    }
    .hero-block-col {
        max-width: 60%;
        width: 100%;
    }
    .hero-block-col:last-child {
        max-width: (calc((100% - 16px)/2) - calc(60 * var(--fz)));
        max-width: calc((100% - 16px)/2 - 60 * var(--fz));
        width: 100%;
    }
    .hero-block-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
    .repair-brands-inner {
        background-color: var(--soft-gray);
        padding: calc(120 * var(--fz)) calc(60 * var(--fz));
        border-radius: 20px;
    }
    .repair-brands-cards-pc {
        row-gap: 20px;
    }

}