@import url(./style.css);

.header {
    width: 100%;
    padding: calc(14 * var(--fz)) 0 calc(15 * var(--fz))
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-right: calc(30 * var(--fz));

}
.logo img {
    width: 190;
    height: 23px;
}
.navigation , .item-btn ul {
    display: flex;
    align-items: center;
}
.navigation  {
    width: 100%;
    justify-content: flex-end;
}

.navigation-item {
    display: flex;
}
.navigation-item:last-child {
    margin-right: 0;
}
.dropdown-item .navigation-dropdown , .item-btn ul li {
    margin-right: calc(40 * var(--fz));
}
.dropdown-item .navigation-dropdown:last-child , .item-btn ul li:last-child {
    margin-right: calc(40 * var(--fz));
}
.dropdown-item .navigation-item-title , .item-btn  .navigation-item-title {
    font-size: calc(18 * var(--fz)) ;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.54px;
    color: var(--black);

}
.navigation-dropdown {
    position: relative;
    display: flex;
    gap: 5px;
}
.navigation-dropdown::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11' fill='none'%3E%3Cline x1='0.353614' y1='5.14645' x2='5.82851' y2='10.6213' stroke='black'/%3E%3Cline x1='5.12112' y1='10.6211' x2='10.596' y2='5.14616' stroke='black'/%3E%3C/svg%3E");
    display: inline-block;
    width: 12px;
    height: 8px;
}
.navigation-dropdown:hover::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7' fill='none'%3E%3Cline x1='10.5962' y1='5.82816' x2='5.12132' y2='0.353269' stroke='black'/%3E%3Cline x1='5.82871' y1='0.353553' x2='0.353818' y2='5.82845' stroke='black'/%3E%3C/svg%3E");
}
.navigation-dropdown-submenu , .brands-submenu  {
    position: absolute;
    top:23px;
    left: -30px;
    padding: 30px;
    width: 472px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #EFEFF1;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}
.repair-dropdown:hover .navigation-dropdown-submenu , .brands-dropdown:hover .brands-submenu  {
    opacity: 1;
    visibility: visible;
}
.navigation-dropdown-submenu li a , .submenu-brands ul li a {
    font-size: calc(18 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 22.5px */
    letter-spacing: -0.54px;
    color: var(--black-3);
}
.navigation-dropdown-submenu li a:hover ,
.submenu-brands ul li a:hover , .navigation-item-title:hover {
    color: var(--text-gray);
}
.repair-dropdown .navigation-item-title:hover , .brands-dropdown .navigation-item-title {
    color: var(--black);
}

.submenu-brands {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #D9D9D9;
}
.submenu-brands ul:first-child {
    margin-right: calc(120 * var(--fz));
}
.submenu-brands ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.brands-submenu .to-all-brands {
    padding: 30px 0 0;
    font-size: calc(18 * var(--fz));
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.54px;
    display: flex;
    gap: 5px;
    color: var(--carrot);
}
.navigation-phone-num {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    width: calc(30 * var(--fz));
    height: calc(30 * var(--fz));
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
}
.navigation-phone-num svg {
    width: calc(20 * var(--fz));
    height: calc(20 * var(--fz));
}
.navigation-phone-num span {
    font-size: calc(18 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.54px;
    color: var(--black-2);
    display: none;
}
.navigation .dropdown-item , .navigation .item-btn ul {
    display: none;
}
.navigation-phone-num:hover {
    color: var(--carrot);
}
.item-btn {
    display: flex;
    position: relative;
    align-items: center;
}

.burger {
    display: flex;
    outline: none;
    height: 30px;
    width: 30px;
    border: 0px;
    padding: 0px;
    background: transparent;
    transition: all 250ms ease-out;
    cursor: pointer;
    position: inherit;
    margin-left: calc(20 * var(--fz));
  }

  .burger:before, .burger:after {
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    background: #1a1a1a;
    transition: all 250ms ease-out;
    will-change: transform;
    top: 50%;
  }

  .burger:before {
    transform: translateY(-3px);
  }

  .burger:after {
    transform: translateY(3px);
  }

  .active.burger:before {
    transform: translateY(0) rotate(45deg);
  }

  .active.burger:after {
    transform: translateY(0) rotate(-45deg);
  }


.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: #fff;
    margin-top: -1000px;
    padding: calc(18 * var(--fz)) calc(16 * var(--fz));
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.mobile-menu.active {
    opacity: 1;
    margin-top: 0;
}
.mobile-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-inner {
    display: flex;
    flex-direction: column;
    padding: 50px 0 42px;
    /* height: 100%; */
    flex-grow: 1;
}
.mobile-dropdown-item {
    position: relative;
    display: flex;
    gap: 5px;
}
.mobile-dropdown-item::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11' fill='none'%3E%3Cline x1='0.353614' y1='5.14645' x2='5.82851' y2='10.6213' stroke='black'/%3E%3Cline x1='5.12112' y1='10.6211' x2='10.596' y2='5.14616' stroke='black'/%3E%3C/svg%3E");
    display: inline-block;
    width: 12px;
    height: 8px;
}
.mobile-dropdown-item.mob-dropdown-open::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7' fill='none'%3E%3Cline x1='10.5962' y1='5.82816' x2='5.12132' y2='0.353269' stroke='black'/%3E%3Cline x1='5.82871' y1='0.353553' x2='0.353818' y2='5.82845' stroke='black'/%3E%3C/svg%3E");
}

.mobile-submenu-repair li a , .mobile-submenu-brands  li a {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.48px;
    color:#474747 ;
}
.mobile-list-title {
    font-size: calc(22 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.66px;
    color: var(--black);
}
.mobile-submenu-brands li:last-child a {
    color: var(--carrot, #E55938);
    display: flex;
    align-items: center;
    gap: 10px;
}
.dropdown-inner {
    position: relative;
}
.mobile-submenu-repair , .mobile-submenu-brands {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding-top: 20px; */
    cursor:pointer;
    top: -200px;
    height:0;
    transition: all 1s;
    overflow:hidden;
    opacity: 0;
}
.mobile-inner-list  {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.mobile-contacts {
    display: flex;
    flex-direction: column;
}
.mobile-contacts {
    margin-top: auto;
    padding-top: 50px;
    justify-self:flex-end;
}
.list-1 {
    margin-bottom:50px;
}

.open-mob-submenu {
    padding-top: 20px;
    top: 0;
    height: auto;
    opacity: 1;

}
.mobile-contacts li:first-child a {
    font-size: calc(22 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 24.2px */
    letter-spacing: -0.66px;
    color: var(--carrot);
    margin-top: 8px;
}
.mobile-contacts li:last-child a  {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    color: var(--black);
}
.navigation-phone-num:hover .link-text {
    color: var(--carrot);
}
/* .navigation-item li .link-text , .item-btn .navigation-phone-num .link-text{
    color: transparent;
    position: relative;

}
.navigation-item li .link-text::after , .navigation-item li .link-text::before
,.item-btn .link-text::before , .item-btn .link-text::after {
    content: attr(data-text);
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .4s ease-out;
    will-change: transform;
    transform-origin: 50% 50% .5em;
}
.navigation-item li .link-text::before , .item-btn .link-text::before{
    color: var(--black) ;
}

.navigation-item li .link-text:hover::before  {
    animation: c .4s ease-out 1;
    color: var(--black);
}
.item-btn .navigation-phone-num .link-text:hover::before  {
    animation: c .4s ease-out 1;
    color: var(--carrot);
}
.navigation-item li .link-text:hover::after {
    color: var(--text-gray);
    animation: d .4s ease-out 1;
    opacity: 0;
}
.item-btn .link-text:hover::after {
    color: var(--carrot);
    animation: d .4s ease-out 1;
    opacity: 0;
}


@keyframes c {
    0% {
        transform: rotateX(90deg)
    }

    to {
        transform: rotate3d(0,0,0,90deg)
    }
}

@keyframes d {
    0% {
        transform: rotate3d(0,0,0,90deg)
    }

    to {
        transform: rotate3d(-1,0,0,90deg)
    }
} */
@media (min-width: 1200px) {
    .header {
        padding: calc(41 * var(--fz)) 0;
    }
    .mobile-menu {
        display: none;
    }
    .burger  {
        display: none;
    }
    .logo {
        margin-right: calc(90 * var(--fz));
    }
    .navigation-phone-num {
        min-height: calc(40 * var(--fz));
        border-radius: calc(20 * var(--fz));
        padding: 0 calc(20 * var(--fz));
        border: 1px solid var(--line-gray);
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: auto;
        height: auto
    }
    .navigation-phone-num span  {
        display: inline-block;
        margin-left: calc(9 * var(--fz));
    }
    .navigation .dropdown-item , .navigation .item-btn ul {
        display: flex;
        align-items: center;
    }
    .logo img {
        width: calc(335 * var(--fz));
        height: calc(41 * var(--fz));
    }

}
@media (min-width:992px) {
    /* .navigation .dropdown-item , .navigation .item-btn ul {
        display: flex;
    } */
    .header {
        padding: calc(25 * var(--fz)) 0;
    }
    .navigation  {
        width: 100%;
        justify-content: space-between;
    }
    .navigation-phone-num {
        min-height: calc(60 * var(--fz));
        border-radius: calc(30 * var(--fz));
        padding: 0 calc(30 * var(--fz))
    }

    .navigation-phone-num svg {
        width: calc(18 * var(--fz));
        height: calc(19 * var(--fz))
    }
    

}

@media (min-width: 738px) {
    /* .navigation-phone-num {
        min-height: calc(40 * var(--fz));
        border-radius: calc(20 * var(--fz));
        padding: 0 calc(20 * var(--fz));
        border: 1px solid var(--line-gray);
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: auto;
        height: auto
    }
    .navigation-phone-num span  {
        display: inline-block;
        margin-left: calc(9 * var(--fz));
    } */
    .logo img {
        width: calc(235 * var(--fz));
        height: calc(31 * var(--fz));
    }
}
