@import url(../styles/style.css);

.banner {
    width: 100%;
}
.banner h1 {
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
}
.mobile-banner {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.mobile-banner .banner-video  {
    height: calc(250 * var(--fz));
    border-radius: 20px;
    background-image: url(../images/main-page/banner-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.mobile-banner .banner-video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #161616 0%, rgba(133, 133, 133, 0.00) 100%);
    border-radius: 20px;
    z-index: 1;
}
.banner-video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.banner-content {
    padding: calc(25  * var(--fz));
    width: 100%;
    border-radius: 20px;
    background-color: var(--soft-gray, #F3F4F5);
}
.banner-content h2 {
    font-size: calc( 30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.96px;
    color: var(--black);
    margin-bottom: 10px;
}
.banner-content p {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.48px;
    color: var(--black);
    margin-bottom: 20px;
}
.desktop-banner {
    padding: calc(150 * var(--fz)) calc(60 * var(--fz));
    border-radius: 20px;
    background-image: url(../images/main-page/banner-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: none;
}
.desktop-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #161616 0%, rgba(133, 133, 133, 0.00) 100%);
    border-radius: 20px;
    z-index: 1;
}
.desktop-banner-content {
    position: relative;
    z-index: 2;
    color: #fff;
}
.desktop-banner-content h2 {
    font-size: calc(50 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 80px */
    letter-spacing: -2.4px;
    margin-bottom: 30px;
}
.desktop-banner-content p {
    font-size: calc(20 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 39px */
    letter-spacing: -0.78px;
    margin-bottom: 50px;
}
.staff {
    width: 100%;
    padding: calc(20 * var(--fz)) 0;
}

.staff-inner {
    display: flex;
    flex-direction: column;
    gap: calc(20 * var(--fz));
}
.staff-photos {
    width: 100%;
    background-color: var(--soft-gray);
    border-radius: 20px;
    padding: calc(30 * var(--fz)) 0;
}
.staff-photos h3 , .search-inner h3{
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    color: var(--black);
    padding: 0 calc(30 * var(--fz));
}
.staff-swiper {
    margin-top: 30px;
}

.staff-swiper .swiper-slide img{
    width: calc(119 * var(--fz));
    height: calc(119 * var(--fz)) ;
}
.staff-about {
    width: 100%;
    padding: calc(30 * var(--fz)) ;
    background-color: var(--carrot);
    border-radius: 20px;
}
.staff-about-date {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: calc(30 * var(--fz)) 0 calc(10 * var(--fz));
}
.staff-swiper .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
            transition-timing-function: linear !important;
  }
.staff-about img {
    width: calc(217 * var(--fz));
    height: calc(72 * var(--fz));
}
.staff-about h3 {
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    color: #fff;
}
.proxima {
    width: 100%;
    padding: calc(20 * var(--fz)) 0 calc(41 * var(--fz));
}
.proxima-inner {
    width: 100%;
    border-radius: 20px;
    background-color: var(--black-3, #212121);
    display: inline-flex;
    padding: calc(60 * var(--fz)) calc(30 * var(--fz));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fff;
    position: relative;
}
.proxima-col h3  {
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.96px;
    color: var(--soft-gray);
    margin-bottom: 15px;
}
.proxima-col ul {
    display: flex;
    flex-direction: column;
    gap: calc(10 * var(--fz));
}
.proxima-col ul li {
    display: flex;
    align-items: flex-start;
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
}
.proxima-col ul li::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--carrot);
    border-radius: 50px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: 5px;
}
.proxima-col img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.proxima-inner .circle-btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50% , 50%);
}
.search {
    padding-top: calc(120 * var(--fz)) ;
    width: 100%;
}
.search-inner {
    width: 100%;
    display: inline-flex;
    padding: calc(60 * var(--fz)) calc(30 * var(--fz));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background-color: var(--soft-gray);
}
.search-inner h3 {
    text-align: center;
    margin-bottom: calc(30 * var(--fz));
}
.search-wrapper {
    max-width: 740px;
    width: 100%;
}
.search-field {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.search-field input {
    width: 100%;
    border-radius: 1000px;
    border: 1px solid var(--line-gray, #DBDDE1);
    background-color: #FFF;
    display: flex;
    padding: calc(12 * var(--fz)) calc(30 * var(--fz));
    align-items: center;
    justify-content:space-between;
    align-self: stretch;
    height: calc(60 * var(--fz));
    outline: none;
    font-size: calc(16 * var(--fz
    ));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    color: var(--black-2);
}
.search-field input:focus {
    border: 1px solid var(--carrot, #E55938);
}
.search-field input:active {
    border: 1px solid var(--carrot, #E55938);
}
.search-field input::placeholder {
    font-family: Gilroy;
    font-size: calc(16 * var(--fz
    ));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    color: var(--black-2);
}
.search-field .circle-btn {
    width: calc(40 * var(--fz));
    height: calc(40 * var(--fz));
    position: absolute;
    top: 50%;
    right: calc(30 * var(--fz));
    transform: translateY(-50%);
}
.search-results {
    width: 100%;
}
.search-pozitive {
    margin-top: 20px;
    display: flex;
    width: 100%;
    padding: calc(30 * var(--fz));
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: calc(10 * var(--fz));
    border-radius: 20px;
    border: 2px solid #FFF;
    background-color: #FFF;
}
.search-pozitive li a {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    color: var(--black);
}
.search-negative {
    margin-top: 60px;
}
.search-negative p {
    font-size: calc(16 * var(--fz));
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 39px */
    letter-spacing: -0.78px;
    color: var(--text-gray);
    text-align: center;
}
.brands {
    padding-top: calc(120 * var(--fz)) ;
    width: 100%;
}
.brands-inner {
    padding: calc(60 * var(--fz)) calc(30 * var(--fz));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background-color: var(--soft-gray);
}
.brands-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}
.brand-card {
    max-width: 32%;
    width: calc(90 * var(--fz));
    height: calc(90 * var(--fz));
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(22 * var(--fz));
}
.brand-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.brands-inner h3 {
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    text-align: center;
    color: var(--black);
}
.problems {
    padding-top: calc(60 * var(--fz));
    width: 100%;
    background-color: #fff;
}
.problems-cards-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(20 * var(--fz));
}
.problems-card {
    border-radius: 20px;
    background-color: var(--soft-gray, #F3F4F5);
    padding-bottom: calc(30 * var(--fz));
}
.problems-card-head {
    padding: calc(25 * var(--fz)) calc(30 * var(--fz));
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: var(--black-2, #303030);
}
.problems-card-head p {
    font-size: calc(22 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.66px;
    color: #fff;
}
.problems-card-head p:hover {
    color: var(--carrot);
}
.problems-card-head img {
    width: calc(35 * var(--fz));
    height: calc(35 * var(--fz));
}
.problems-card-info {
    padding: calc(25 * var(--fz)) calc(30 * var(--fz)) 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.problems-card-info ul {
    display: flex;
    flex-direction: column;
    gap: calc(10 * var(--fz));
}
.problems-card-info ul li {
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    color: var(--black-2);
    display: flex;
    align-items: flex-start;
}
.problems-card-info ul li::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--carrot);
    border-radius: 50px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: 5px;
}

.problems-card-price-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}
.problems-card-price {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    color: var(--carrot);
}
.problems-card-price span {
    font-size: calc(32 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.96px;
    color: var(--carrot);
}
.problems-cards-pc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;
    row-gap: 60px;
}
.problems-cards-pc .problems-card {
    max-width: 45%;
    width: 100%;
}
.problems-cards-mobile .problems-card {
    width: 100%;
}
.dark-form {
    width: 100%;
    padding-top: calc(150 * var(--fz));
}

.dark-form-inner {
    padding: calc(49 * var(--fz)) 0 0;
    border-radius: 20px;
    background-color: var(--black-3, #212121);
}
.dark-form-img-wrap {
    padding: 0 calc(30 * var(--fz)) ;
}
.dark-form-img-wrap img {
    width: calc(106 * var(--fz));
    height: calc(106 * var(--fz));
}
.dark-form-text h3{
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.96px;
    color: #fff;
    margin-bottom: 15px;
}
.dark-form-text p {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    color: #fff;
}
.form-wrap {
    margin-top: 30px;
    border-radius: 20px;
    background-color: #2B2B2B;
    padding: calc(30 * var(--fz));
}
.form {
    width: 100%;
}
.input-wrap {
    width: 100%;
    position: relative;
}
.input-wrap:not(:last-child) {
    margin-bottom: 15px;
}
.input-wrap input {
    width: 100%;
    border-radius: 1000px;
    background-color: #474747;
    display: flex;
    height: 55px;
    padding: calc(12 * var(--fz)) calc(30 * var(--fz));
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: none;
    position: relative;
}
.input-wrap input:focus .custom-placeholder ,
.input-wrap input:active .custom-placeholder{
    opacity: 0;
    visibility: hidden;
}
.custom-placeholder {
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    color: #fff;
    position: absolute;
    left: calc(30 * var(--fz));
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease;
    opacity: 1;
    visibility: visible;
}
.custom-placeholder span {
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    color: var(--carrot);
}
.accordion-container {
    width: 100%;
}
  .accordion-container .box {
    position: relative;
    margin-bottom: 20px;
    background-color: #F8F8F8;
    border-radius: 20px;
}
.accordion-container .box:last-child {
    margin-bottom: 0;
}
.accordion-container .box .label {
    position: relative;
    background-color: #F8F8F8;
    border-radius: 20px;
    cursor: pointer;
    padding: calc(30 * var(--fz));
}
.accordion-container .box .label p {
    color: var(--black);
    font-size: calc(22 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 24.2px */
    letter-spacing: -0.66px;
    max-width: 80%;
}

  .accordion-container .box .label::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(30 * var(--fz));
    width: calc(35 * var(--fz));
    height: calc(35 * var(--fz));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Crect x='6.00244' y='0.03125' width='1.32692' height='12.9375' fill='%23F0F2F5'/%3E%3Crect x='0.03125' y='6.00249' width='12.9375' height='1.32692' fill='%23F0F2F5'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    border-radius: 100px;
    background-color: var(--carrot);
  }

  .accordion-container .box.active .label::after {
    content: '';
    stroke: #e37639;
    position: absolute;
    top: 50%;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform: rotate(180deg);
    transform:translateY(-50%) rotate(180deg);
    width: calc(35 * var(--fz));
    height: calc(35 * var(--fz));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='3' viewBox='0 0 13 3' fill='none'%3E%3Crect x='0.03125' y='0.836548' width='12.9375' height='1.32692' fill='%23F0F2F5'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    border-radius: 100px;
    background-color: var(--carrot);
    right: calc(30 * var(--fz));
  }

  .accordion-container .box .acc-content {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
  }

  .accordion-container .box .acc-content p {
    font-size: calc(16 * var(--fz));
    color: var(--black);
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    padding: calc(16 * var(--fz)) calc(30 * var(--fz)) calc(30 * var(--fz));
    background-color: #F8F8F8;
    border-radius: 0 0 20px 20px;
  }
  .faq-accord {
    width: 100%;
    padding-top: calc(120 * var(--fz));
  }
  .faq-accord h3 {
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    color: var(--black);
    margin-bottom: 24px;
    padding: 0 calc(30 * var(--fz));
  }

@media (min-width:768px) {
    .mobile-banner .banner-video  {
        height: calc(350 * var(--fz));
    }
}
@media (min-width:992px) {
    .mobile-banner {
        display: none;
    }
    .desktop-banner {
        display: block;
    }
    .staff-inner {
        flex-direction: row;
        gap: calc(16 * var(--fz));
    }
    .staff-photos , .staff-about {
        width: calc( (100% - calc(16 * var(--fz))) / 2);
    }
    .staff-photos h3 , .proxima-col h3 , .search-inner h3 , .brands-inner h3 , .dark-form-text h3 {
        font-size: calc(40 * var(--fz));
    }
    .staff-about h3 , .faq-accord h3 {
        font-size: calc(40 * var(--fz));
    }
    .staff-about-date {
        margin: calc(40 * var(--fz)) 0 calc(15 * var(--fz));
    }
    .staff-about img {
        width: calc(300 * var(--fz));
        height: calc(102 * var(--fz));
    }
    .staff-swiper {
        margin-top: 50px;
    }
    .proxima-col ul li {
        font-size: calc(20 * var(--fz));
    }
    .proxima-col {
        max-width: 50%;
        width: 100%;
    }
    .proxima-col h3 {
        max-width: 90%;
    }
    .proxima-inner {
        flex-direction: row;
        justify-content: space-between;
    }
    .proxima-col img {
        height: calc(280 * var(--fz));
        object-fit: contain;
    }
    .proxima-inner .circle-btn {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translateY(50%);
    }
    .proxima-col ul li::before , .problems-card-info ul li::before {
        margin-right: 20px;
    }
    .search-field input {
        height: calc(80 * var(--fz));
        padding: calc(12 * var(--fz)) calc(40 * var(--fz));
        font-size: calc(26 * var(--fz
        ));
    }
    .search-field input::placeholder , .dark-form-text p{
        font-size: calc(26 * var(--fz
        ));
    }
    .search-field .circle-btn {
        width: calc(50 * var(--fz));
        height: calc(50 * var(--fz));
        right: calc(40 * var(--fz));
    }
    .search-pozitive {
        margin-top: 20px;
        padding: calc(30 * var(--fz)) calc(40 * var(--fz));
        gap: calc(10 * var(--fz));
    }
    .search-pozitive li a , .search-negative p{
        font-size: calc(26 * var(--fz));
    }
    .brand-card {
        width: calc(150 * var(--fz));
        height: calc(150 * var(--fz));
        padding: calc(35 * var(--fz));
    }
    .problems {
        padding-top: calc(120 * var(--fz));
    }
    .problems-card-head {
        height: 190px;
        padding: calc(20 * var(--fz)) calc(60 * var(--fz)) calc(20 * var(--fz));
    }
    .problems-card {
        padding-bottom: calc(30 * var(--fz));
        height: 700px;
    }

    .problems-card-head img {
        width: calc(40 * var(--fz));
        height: calc(40 * var(--fz));
    }
    .problems-card-info {
        padding: calc(40 * var(--fz)) calc(60 * var(--fz)) 0;
        height: calc(100% - 190px);
    }
    .problems-card-info ul {
        gap: calc(15 * var(--fz));
    }
    .problems-card-info ul li {
        font-size: calc(20 * var(--fz));
    }
    .problems-card-price span {
        font-size: calc(42 * var(--fz));
    }
    .problems-cards-mobile {
        display: none;
    }
    .problems-cards-pc {
        display: flex;
    }
    .accordion-container {
        display: flex;
        justify-content: space-between;
    }
    .acc-col {
        max-width: 48%;
    }
    .accordion-container .box .acc-content p {
        font-size: calc(26 * var(--fz));
    }
    .accordion-container .box .label {
        height: 250px;
    }
    .accordion-container .box .label p {
        font-size: calc(42 * var(--fz));
    }
    .faq-accord h3 {
        font-size: calc(40 * var(--fz));
        padding: 0 calc(30 * var(--fz));
    }
}
@media (min-width:1200px) {
    .desktop-banner-content h2 {
        font-size: calc(80 * var(--fz));
    }
    .desktop-banner-content p , .proxima-col ul li {
        font-size: calc(26 * var(--fz));
    }
    .staff-photos h3 , .proxima-col h3 , .search-inner h3 , .brands-inner h3 , .faq-accord h3  {
        font-size: calc(70 * var(--fz));
    }
    .staff-about h3 {
        font-size: calc(70 * var(--fz));
    }
    .staff-about-date {
        margin: calc(50 * var(--fz)) 0 calc(15 * var(--fz));
    }
    .staff-swiper .swiper-slide img{
        width: calc(200 * var(--fz));
        height: calc(200 * var(--fz)) ;
    }
    .staff-about img {
        width: calc(450 * var(--fz));
        height: calc(152 * var(--fz));
    }
    .staff-swiper {
        margin-top: 80px;
    }
    .proxima-inner {
        padding: calc(60 * var(--fz)) calc(60 * var(--fz));
    }
    .brand-card {
        width: calc(250 * var(--fz));
        height: calc(250 * var(--fz));
        padding: calc(45 * var(--fz));
    }
    .problems-card-head p {
        font-size: calc(42 * var(--fz));
    }
    .problems-card-info ul li {
        font-size: calc(25 * var(--fz));
    }
    .problems {
        padding-top: calc(120 * var(--fz));
    }
    .problems-card-head {
        height: 190px;
        padding: calc(20 * var(--fz)) calc(60 * var(--fz)) calc(20 * var(--fz));
    }
    .problems-card {
        padding-bottom: calc(60 * var(--fz));
        height: 700px;
    }
    .problems-card-head p {
        font-size: calc(42 * var(--fz));
    }
    .problems-card-head img {
        width: calc(50 * var(--fz));
        height: calc(50 * var(--fz));
    }
    .problems-card-info {
        padding: calc(40 * var(--fz)) calc(60 * var(--fz)) 0;
        height: calc(100% - 190px);
    }
    .problems-card-info ul {
        gap: calc(15 * var(--fz));
    }
    .problems-card-info ul li {
        font-size: calc(20 * var(--fz));
    }
    .problems-card-price span {
        font-size: calc(42 * var(--fz));
    }
    .problems-cards-pc .problems-card {
        max-width: 32%;
        width: 100%;
    }
    .faq-accord h3 {
        font-size: calc(70 * var(--fz));
        max-width: 50%;
        padding: 0 calc(80 * var(--fz));
    }
    .accordion-container .box .label {
        padding: calc(60 * var(--fz));
        height: 250px;
    }
    .faq-accord h3 {
        padding: 0 calc(60 * var(--fz));
    }
    .accordion-container .box .label::after {
        right: calc(60 * var(--fz));
        width: calc(65 * var(--fz));
        height: calc(65 * var(--fz));
        background-size: 18px 18px;
      }

      .accordion-container .box.active .label::after {
        width: calc(65 * var(--fz));
        height: calc(65 * var(--fz));
        background-size: 18px 18px;
        right: calc(60 * var(--fz));
      }
}