@import url(../styles/style.css);

.banner {
    width: 100%;
}
.banner h1 {
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
}
.mobile-banner {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.mobile-banner .banner-video  {
    height: calc(250 * var(--fz));
    border-radius: 20px;
    background-image: url(../images/main-page/banner-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.mobile-banner .banner-video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #161616 0%, rgba(133, 133, 133, 0.00) 100%);
    border-radius: 20px;
    z-index: 1;
}
.banner-video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.banner-content {
    padding: calc(25  * var(--fz));
    width: 100%;
    border-radius: 20px;
    background-color: var(--soft-gray, #F3F4F5);
}
.banner-content h2 {
    font-size: calc( 30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.96px;
    color: var(--black);
    margin-bottom: 10px;
}
.banner-content p {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.48px;
    color: var(--black);
    margin-bottom: 20px;
}
.desktop-banner {
    padding: calc(150 * var(--fz)) calc(60 * var(--fz));
    border-radius: 20px;
    background-image: url(../images/main-page/banner-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: none;
}
.desktop-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #161616 0%, rgba(133, 133, 133, 0.00) 100%);
    border-radius: 20px;
    z-index: 1;
}
.desktop-banner-content {
    position: relative;
    z-index: 2;
    color: #fff;
}
.desktop-banner-content h2 {
    font-size: calc(50 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 80px */
    letter-spacing: -2.4px;
    margin-bottom: 30px;
}
.desktop-banner-content p {
    font-size: calc(20 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 39px */
    letter-spacing: -0.78px;
    margin-bottom: 50px;
}
.staff {
    width: 100%;
    padding: calc(20 * var(--fz)) 0;
}

.staff-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.staff-photos {
    width: 100%;
    background-color: var(--soft-gray);
    border-radius: 20px;
    padding: calc(30 * var(--fz)) 0;
}
.staff-photos h3 {
    font-size: calc(25 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    color: var(--black);
    padding: 0 calc(30 * var(--fz));
}
.staff-swiper {
    margin-top: 30px;
}

.staff-swiper .swiper-slide img{
    width: calc(119 * var(--fz));
    height: calc(119 * var(--fz)) ;
}
.staff-about {
    width: 100%;
    padding: calc(30 * var(--fz)) ;
    background-color: var(--carrot);
    border-radius: 20px;
}
.staff-about-date {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: calc(30 * var(--fz)) 0 calc(10 * var(--fz));
}
.staff-swiper .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
            transition-timing-function: linear !important;
  }
.staff-about img {
    width: calc(217 * var(--fz));
    height: calc(72 * var(--fz));
}
.staff-about h3 {
    font-size: calc(25 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    color: #fff;
}
@media (min-width:768px) {
    .mobile-banner .banner-video  {
        height: calc(350 * var(--fz));
    }
}
@media (min-width:992px) {
    .mobile-banner {
        display: none;
    }
    .desktop-banner {
        display: block;
    }
    .staff-inner {
        flex-direction: row;
        gap: calc(16 * var(--fz));
    }
    .staff-photos , .staff-about {
        width: calc( (100% - calc(16 * var(--fz))) / 2);
    }
    .staff-photos h3 {
        font-size: calc(35 * var(--fz));
    }
    .staff-about h3 {
        font-size: calc(35 * var(--fz));
    }
    .staff-about-date {
        margin: calc(40 * var(--fz)) 0 calc(15 * var(--fz));
    }
    .staff-about img {
        width: calc(300 * var(--fz));
        height: calc(102 * var(--fz));
    }
    .staff-swiper {
        margin-top: 50px;
    }
}
@media (min-width:1200px) {
    .desktop-banner-content h2 {
        font-size: calc(80 * var(--fz));
    }
    .desktop-banner-content p {
        font-size: calc(26 * var(--fz));
    }
    .staff-photos h3 {
        font-size: calc(50 * var(--fz));
    }
    .staff-about h3 {
        font-size: calc(50 * var(--fz));
    }
    .staff-about-date {
        margin: calc(50 * var(--fz)) 0 calc(15 * var(--fz));
    }
    .staff-swiper .swiper-slide img{
        width: calc(200 * var(--fz));
        height: calc(200 * var(--fz)) ;
    }
    .staff-about img {
        width: calc(450 * var(--fz));
        height: calc(152 * var(--fz));
    }
    .staff-swiper {
        margin-top: 80px;
    }
}