@import url(./header.css);
@import url(./modals.css);
@import url(./swiper-bundle.min.css);
@import url(./main-page.css);
@import url(./footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Thin.woff) format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
:root {
    --fz:.2578vw;
    --container: 100vw;
    --container-padding: 16;
    --black:#000000;
    --line-gray:#DBDDE1;
    --black-2:#303030;
    --carrot:#E55938;
    --carrot-2:#E3512E;
    --black-3:#212121;
    --text-gray:#848484;
    --soft-gray:#F3F4F5;
}

h2 span {
  white-space: nowrap;
}

.text-wrapper {
  overflow: hidden;
  display: block;
}

h2 .text , .title-anim.active .text{
  animation: slideUp 1s forwards;
  display: inline-block;
  transform: translateY(150%);
  position: relative;
  z-index: 3;
}
h2 .text-wrapper:nth-of-type(1) .text ,
 .title-anim.active .text-wrapper:nth-of-type(1) .text{
  animation-delay: 0s;
}
h2 .text-wrapper:nth-of-type(2) .text ,
.title-anim.active .text-wrapper:nth-of-type(1) .text{
  animation-delay: .5s;
}

@media (max-width:768px) {
    h2 span {
        white-space: wrap;
      }
}

/* /* .anim-content {
    opacity: 0;
} */
.element-show {
    opacity: 1;
    transition: opacity 1s;
}
.anim-content.show-content {
    opacity: 1;
    transition: opacity 1s;
}
.element-animation.element-show {
    opacity: 1;
    transition: opacity 1s;
  }
@keyframes slideUp {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
html {
    position: relative;
}


/* @media (min-width: 768px) {
    :root {
        --fz:.13021vw ;
    }
    body {
        --container:calc(700 * var(--fz));
        --container-padding: 15;
    }
}

@media (min-width: 992px) {
    :root {
        --fz:.08581vw ;
    }
    body {
        --container:calc(1100 * var(--fz));
    }
}

@media (min-width: 1200px) {
    :root {
        --fz:.0521vw;
    }
    body {
        --container:calc(1790 * var(--fz));
    }
} */

.content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:Gilroy ;
    margin: 0;
    padding: 0;
    font-size: calc(16 * var(--fz));
    line-height: 1.25;
    overflow-x: hidden;
    position: relative;
    color: var(--color-main);
    background: #fff;
    transition:  0.3s ease;
}
.content {
    width: 100%;
    margin: 0 auto;
    max-width: var(--container);
    padding: 0 calc(var(--container-padding) * var(--fz));
}
.carrot-btn {
    padding: calc(12 * var(--fz))  calc(35 * var(--fz));
    border-radius: 1000px;
    border: 2px solid var(--carrot, #E55938);
    background-color: var(--carrot, #E55938);
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.78px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.carrot-btn:hover {
    background-color: var(--carrot-2);
}
.dark-btn {
    padding: calc(12 * var(--fz))  calc(35 * var(--fz));
    border-radius: 1000px;
    border: 2px solid var(--black-2, #303030);
    background-color: var(--black-2, #303030);
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.78px;
    color: #fff;
    cursor: pointer;
}
.dark-btn:hover {
    background-color: var(--black-3, #212121);
    color: #fff;
}
.dark-border-btn {
    padding: calc(8 * var(--fz))  calc(35 * var(--fz));
    border-radius: 1000px;
    border: 2px solid var(--black-2, #303030);
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.78px;
    color: var(--black-2, #303030);
    cursor: pointer;
    background-color: transparent;
}
.dark-border-btn:hover {
    color: #fff;
    background-color: var(--carrot);
    border: 2px solid var(--carrot, #E55938);
}
.gray-btn {
    padding: calc(12 * var(--fz))  calc(60 * var(--fz));
    border-radius: 1000px;
    border: 2px solid var(--soft-gray, #F3F4F5);
    background-color: var(--soft-gray, #F3F4F5);
    font-size: calc(26 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.78px;
    color: var(--black-3, #212121);
    cursor: pointer;
}
.gray-btn:hover {
    border: 2px solid var(--black-3, #212121);
    background: var(--black-3, #212121);
    color: #fff;
}
.carrot-border-btn {
    padding: calc(14 * var(--fz))  calc(27 * var(--fz));
    border-radius: 1000px;
    background-color: #fff;
    border: 2px solid var(--carrot, #E55938);
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.6px;
    cursor: pointer;
}
.carrot-border-btn:hover {
    background: var(--black-2, #303030);
    border: 2px solid var(--black-2, #303030);
    color: #fff;
}
.circle-btn {
    display: flex;
    width: calc(80 * var(--fz));
    height: calc(80 * var(--fz));
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: var(--carrot);
    border: none;
    cursor: pointer;
}
.circle-btn:hover {
    background-color: var(--carrot-2);
}
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: calc(20 * var(--fz));
}
.breadcrumbs li {
    padding: calc(3 * var(--fz)) calc(15 * var(--fz));
    border-radius: 100px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.breadcrumbs li a {
    color: var(--text-gray, #848484);
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.breadcrumbs .breadcrumbs-page-now {
    opacity: 0.65;
}
.repair-brands {
    width: 100%;
    background-color: var(--soft-gray, #F3F4F5);
    border-radius: 20px;
    padding: calc(120 * var(--fz)) 0;
    margin-bottom: calc(120 * var(--fz));
}
.repair-brands h3 {
    text-align: center;
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.96px;
    color: var(--black);
    margin-bottom: 30px;
}
.repair-brands-cards-mob , .show-more-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.show-more-body {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease;
}
.show-more-body.active {
    height: auto;
    opacity: 1;
    visibility: visible;
}
.repair-brands-card {
    padding: calc(30 * var(--fz));
    background-color: #fff;
    border-radius: 20px;
    font-size: calc(22 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.66px;
    color: var(--black);
    border: 1px solid #fff;
    position: relative;
}
.show-more-btn  {
    margin: 0 auto;
}
.repair-brands-cards-pc {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 60px;
    display: none;

}
.repair-brands-card .circle-btn{
    position: absolute;
    bottom: 0;
    left: calc(60 * var(--fz));
    transform: translateY(50%);
    visibility: hidden;
    opacity: 0;
}
.repair-brands-card:hover {
    border: 1px solid var(--carrot);
}
.repair-brands-card:hover .circle-btn {
    visibility: visible;
    opacity: 1;
}
.brands {
    padding-top: calc(120 * var(--fz)) ;
    width: 100%;
}
.brands-inner {
    padding: calc(60 * var(--fz)) calc(30 * var(--fz));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background-color: transparent;
}
.element-show .brands-inner  {
    transition: background-color .5s ease 1s;
    background-color: var(--soft-gray);
}
.brands-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}
.brand-card {
    max-width: 32%;
    width: calc(90 * var(--fz));
    height: calc(90 * var(--fz));
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(22 * var(--fz));
}
.brand-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.brands-inner h3 {
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    text-align: center;
    color: var(--black);
}
.dark-form {
    width: 100%;
    padding-top: calc(120 * var(--fz));
}

.dark-form-inner {
    padding: calc(49 * var(--fz)) 0 0;
    border-radius: 20px;
    background-color: var(--black-3, #212121);
}
.dark-form-img-wrap {
    padding: 0 calc(30 * var(--fz)) ;
}
.dark-form-img-wrap img {
    width: calc(126 * var(--fz));
    height: calc(126 * var(--fz));
}
.dark-form-text h3{
    font-size: calc(30 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.96px;
    color: #fff;
    margin-bottom: 15px;
}
.dark-form-text p {
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 20px */
    letter-spacing: -0.48px;
    color: #fff;
}
.form-wrap {
    margin-top: 30px;
    border-radius: 20px;
    background-color: #2B2B2B;
    padding: calc(30 * var(--fz));
}
.form {
    width: 100%;
}
.input-wrap {
    width: 100%;
    position: relative;
}
.input-wrap:not(:last-child) {
    margin-bottom: 15px;
}
.input-wrap input {
    width: 100%;
    border-radius: 1000px;
    background-color: #474747;
    display: flex;
    height: 55px;
    padding: calc(12 * var(--fz)) calc(30 * var(--fz));
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: none;
    position: relative;
    outline: none;
    height: 55px;
    color: #fff;
    font-size: calc(15 * var(--fz));
}
.input-wrap input:focus {
    border: 1px solid var(--carrot);
}
.custom-placeholder span {
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    color: var(--carrot);
}
.input-wrap input::placeholder {
    font-size: 20px;
    color: white;
}
.input-wrap:last-child {
    display: flex;
    flex-direction: column;
    gap: calc(15 * var(--fz));
}
.input-wrap:last-child span {
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    color: var(--line-soft-gray, #F0F2F5);
    text-align: center;
}
.input-wrap label {
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    color: #fff;
    position: absolute;
    left: calc(30 * var(--fz));
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease;
    pointer-events: none;
    color: #fff;
    transition: 0.2s ease all;
}

.input-wrap input:focus + .label-box label  {
    font-size: calc(10 * var(--fz));
    top: 10px;
    margin-bottom: 15px;
}
.input-wrap input.input-vs-value + .label-box label {
    font-size: calc(10 * var(--fz));
    top: 10px;
    margin-bottom: 15px;
}
@media (min-width:992px) {
    .carrot-border-btn {
        font-size: calc(20 * var(--fz));
    }
    .carrot-btn {
        padding: calc(12 * var(--fz))  calc(60 * var(--fz));
        border-radius: 1000px;
        border: 2px solid var(--carrot, #E55938);
        background-color: var(--carrot, #E55938);
        font-size: calc(22 * var(--fz));
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: -0.78px;
        color: #fff;
        cursor: pointer;
    }
    .circle-btn {
        width: calc(120 * var(--fz));
        height: calc(120 * var(--fz));
    }
    .dark-border-btn {
        font-size: calc(26 * var(--fz));
    }
    .breadcrumbs {
        gap: 10px;
        margin-bottom: calc(30 * var(--fz));
    }
    .breadcrumbs li a {
        font-size: calc(16 * var(--fz));
    }
    .dark-btn {
        padding: calc(12 * var(--fz))  calc(40 * var(--fz));
        font-size: calc(20 * var(--fz));
    }
    .repair-brands-cards-mob {
        display: none;
    }
    .repair-brands-cards-pc {
        display: flex;
    }
    .repair-brands {
        padding: calc(200 * var(--fz)) 0;
        margin-bottom: calc(200 * var(--fz));
    }
    .repair-brands h3 {
        text-align: left;
        max-width: 650px;
        font-size: calc(40 * var(--fz));
        margin-bottom: 50px;
    }
    .repair-brands-card {
        padding: calc(60 * var(--fz));
        font-size: calc(42 * var(--fz));
        max-width: 32%;
        width: 100%;
    }
    .repair-brands-card .circle-btn {
        width: calc(70 * var(--fz));
        height: calc(70 * var(--fz));
    }
    .brand-card {
        width: calc(150 * var(--fz));
        height: calc(150 * var(--fz));
        padding: calc(35 * var(--fz));
    }
    .brands-inner h3 , .dark-form-text h3 {
        font-size: calc(40 * var(--fz));
    }
    .brands {
        padding-top: calc(60 * var(--fz));
        width: 100%;
    }
    .brands-inner {
        gap: 50px;
        padding: calc(120 * var(--fz)) calc(60 * var(--fz));
    }
    .dark-form-text p {
        font-size: calc(26 * var(--fz));
    }
    .dark-form-inner {
        display: flex;
        flex-direction: row;
        padding: calc(146 * var(--fz)) calc(60 * var(--fz));
    }
    .dark-form-inner .form-wrap {
        max-width: 40%;
        width: 100%;
    }
    .dark-form-inner .dark-form-img-wrap img {
        width: calc(156 * var(--fz));
        height: calc(156 * var(--fz));
    }
    .dark-form {
        width: 100%;
        padding-top: calc(60 * var(--fz));
    }
    .input-wrap input {
        font-size: calc(20 * var(--fz));
    }
    .input-wrap input:focus + .label-box label  {
        font-size: calc(15 * var(--fz));
        top: 10px;
    }
    .input-wrap input.input-vs-value + .label-box label {
        font-size: calc(15 * var(--fz));
        top: 10px;
    }

}
@media (min-width:1200px) {
    .carrot-btn {
        font-size: calc(30 * var(--fz));
    }
    .dark-btn {
        padding: calc(12 * var(--fz))  calc(60 * var(--fz));
        font-size: calc(26 * var(--fz));
    }
    .repair-brands {
        padding: calc(250 * var(--fz)) 0;
        margin-bottom: calc(250 * var(--fz));
    }
    .repair-brands h3 {
        text-align: left;
        max-width: 650px;
        font-size: calc(70 * var(--fz));
        margin-bottom: 80px;
    }
    .brand-card {
        width: calc(250 * var(--fz));
        height: calc(250 * var(--fz));
        padding: calc(45 * var(--fz));
    }
    .brands-inner {
        gap: 80px;
    }
    .brands-inner h3 , .dark-form-text h3 {
        font-size: calc(70 * var(--fz));
    }
    .dark-form-inner .dark-form-img-wrap {
        display: flex;
        align-items: center;
    }
    .dark-form-inner .form-wrap .input-wrap:last-child {
        flex-direction: row;
        gap: 15px;
    }
    .dark-form-inner .form-wrap .input-wrap:last-child span {
        font-size: calc(18 * var(--fz));
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
    }
    .dark-form-inner .dark-form-img-wrap img {
        width: calc(368 * var(--fz));
        height: calc(368 * var(--fz));
    }
    .dark-form-text p {
        font-size: calc(26 * var(--fz));
    }
    .dark-form-inner .form-wrap {
        margin-top: 0;
        padding: calc(60 * var(--fz));
    }
    .input-wrap input {
        font-size: calc(26 * var(--fz));
    }
    .input-wrap input:focus + .label-box label  {
        font-size: calc(15 * var(--fz));
        top: 10px;
    }
    .input-wrap input.input-vs-value + .label-box label {
        font-size: calc(15 * var(--fz));
        top: 10px;
    }

}

@media (min-width: 768px) {
    :root {
        --fz:.13021vw ;
    }
    body {
        --container:calc(700 * var(--fz));
        --container-padding: 15;
    }
}

@media (min-width: 992px) {
    :root {
        --fz:.08581vw ;
    }
    body {
        --container:calc(1100 * var(--fz));
    }
}

@media (min-width: 1200px) {
    :root {
        --fz:.0521vw;
    }
    body {
        --container:calc(1790 * var(--fz));
    }
}