@import url(./header.css);
@import url(./modals.css);
@import url(./swiper-bundle.min.css);
@import url(./main-page.css);
@import url(./footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Thin.woff) format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
:root {
    --fz:.2778vw;
    --container: 100vw;
    --container-padding: 16;
    --black:#000000;
    --line-gray:#DBDDE1;
    --black-2:#303030;
    --carrot:#E55938;
    --carrot-2:#E3512E;
    --black-3:#212121;
    --text-gray:#848484;
    --soft-gray:#F3F4F5;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
    :root {
        --fz:.13021vw
    }
    body {
        --container:calc(700 * var(--fz));
        --container-padding: 15
    }
}

@media (min-width: 992px) {
    :root {
        --fz:.08581vw
    }
    body {
        --container:calc(1100 * var(--fz))
    }
}

@media (min-width: 1200px) {
    :root {
        --fz:.0521vw
    }
    body {
        --container:calc(1790 * var(--fz));
        --l-column: calc(25% + (5 * var(--fz)));
    }
}

.content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family:Gilroy ;
    margin: 0;
    padding: 0;
    font-size: calc(16 * var(--fz));
    line-height: 1.25;
    overflow-x: hidden;
    position: relative;
    color: var(--color-main);
    background: #fff;
    transition:  0.3s ease;
}
.content {
    width: 100%;
    margin: 0 auto;
    max-width: var(--container);
    padding: 0 calc(var(--container-padding) * var(--fz));
}
.carrot-btn {
    padding: calc(12 * var(--fz))  calc(35 * var(--fz));
    border-radius: 1000px;
    border: 2px solid var(--carrot, #E55938);
    background-color: var(--carrot, #E55938);
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.78px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.carrot-btn:hover {
    background-color: var(--carrot-2);
}
.dark-btn {
    padding: calc(12 * var(--fz))  calc(35 * var(--fz));
    border-radius: 1000px;
    border: 2px solid var(--black-2, #303030);
    background-color: var(--black-2, #303030);
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.78px;
    color: #fff;
    cursor: pointer;
}
.dark-btn:hover {
    background-color: var(--black-3, #212121);
    color: #fff;
}
.dark-border-btn {
    padding: calc(8 * var(--fz))  calc(35 * var(--fz));
    border-radius: 1000px;
    border: 2px solid var(--black-2, #303030);
    font-size: calc(16 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.78px;
    color: var(--black-2, #303030);
    cursor: pointer;
    background-color: transparent;
}
.dark-border-btn:hover {
    color: #fff;
    background-color: var(--carrot);
    border: 2px solid var(--carrot, #E55938);
}
.gray-btn {
    padding: calc(12 * var(--fz))  calc(60 * var(--fz));
    border-radius: 1000px;
    border: 2px solid var(--soft-gray, #F3F4F5);
    background-color: var(--soft-gray, #F3F4F5);
    font-size: calc(26 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.78px;
    color: var(--black-3, #212121);
    cursor: pointer;
}
.gray-btn:hover {
    border: 2px solid var(--black-3, #212121);
    background: var(--black-3, #212121);
    color: #fff;
}
.carrot-border-btn {
    padding: calc(16 * var(--fz))  calc(30 * var(--fz));
    border-radius: 1000px;
    background-color: #fff;
    border: 2px solid var(--carrot, #E55938);
    font-size: calc(20 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.6px;
    cursor: pointer;
}
.carrot-border-btn:hover {
    background: var(--black-2, #303030);
    color: #fff;
}
.circle-btn {
    display: flex;
    width: calc(80 * var(--fz));
    height: calc(80 * var(--fz));
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: var(--carrot);
    border: none;
    cursor: pointer;
}
.circle-btn:hover {
    background-color: var(--carrot-2);
}
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: calc(20 * var(--fz));
}
.breadcrumbs li {
    padding: calc(3 * var(--fz)) calc(15 * var(--fz));
    border-radius: 100px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.breadcrumbs li a {
    color: var(--text-gray, #848484);
    font-size: calc(14 * var(--fz));
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}
.breadcrumbs .breadcrumbs-page-now {
    opacity: 0.65;
}
@media (min-width:992px) {
    .carrot-btn {
        padding: calc(12 * var(--fz))  calc(60 * var(--fz));
        border-radius: 1000px;
        border: 2px solid var(--carrot, #E55938);
        background-color: var(--carrot, #E55938);
        font-size: calc(22 * var(--fz));
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: -0.78px;
        color: #fff;
        cursor: pointer;
    }
    .circle-btn {
        width: calc(120 * var(--fz));
        height: calc(120 * var(--fz));
    }
    .dark-border-btn {
        font-size: calc(26 * var(--fz));
    }
    .breadcrumbs {
        gap: 10px;
        margin-bottom: calc(30 * var(--fz));
    }
    .breadcrumbs li a {
        font-size: calc(16 * var(--fz));
    }
    .dark-btn {
        padding: calc(12 * var(--fz))  calc(40 * var(--fz));
        font-size: calc(20 * var(--fz));
    }
}
@media (min-width:1200px) {
    .carrot-btn {
        font-size: calc(30 * var(--fz));
    }
    .dark-btn {
        padding: calc(12 * var(--fz))  calc(60 * var(--fz));
        font-size: calc(26 * var(--fz));
    }

}